.contact_us_Container {
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
}

.Contact_Details_Listing {
    width: 100%;
    height: 100%;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Contact_us_heading{
    color: rgba(0,0,0,.87);
    font-weight: 700;
    font-size: 1.6rem;
}

.contact_title {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;

}

.contact_details_link , .contact_details {
    font-size: 1em;
    transition: .3s;
    color: rgba(0,0,0,.87);
    text-transform: lowercase;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1;
}

.contact_details_link:hover {
    text-decoration: underline;
}