.contact_us_Container {
    width: 100%;
    height: 100vh;
    margin-top: 4.5rem;
}

.Contact_Details_Listing {
    width: 100%;
    height: 100%;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact_title {
    font-size: 1.2em;
    color: #666666;
    font-weight: 500;

}

.contact_details {
    font-size: 1em;
    transition: .3s;
    color: #0a0a0a;
    text-transform: capitalize;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 1;
}

.contact_details:hover {
    text-decoration: underline;
}