.Navbar {
    width: 100%;
    height: 4.5rem;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    position: fixed;
    top: 0;
    left: 0;
}

.Nav_logo {
    width: 11rem;
    height: 2.5rem;
}

.Nav_logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-fit: cover; */
}


.Navbar_Listing {
    display: flex;
    margin-right: 16.5em;
}

.Navbar_Listing .Nav_Links {
    font-size: 1.2em;
    text-transform: capitalize;
    position: relative;
    width: max-content;
    color: #b6b6b6;
    font-weight: 400;
}

.Nav_Links::after {
    content: "";
    width: 100%;
    border: 1px solid greenyellow;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}

.Nav_Links:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.Nav_Links:hover {
    color: #006b9c;
}

.Nav_Links.active {
    color: #006b9c;
}








/* //navbar responsive style is here  */
/* //checkbox to toggle navbar  */
.Nav-Toggle {
    display: none;
}

/* //humburger icon to click for toggling navbar */
.Hum_burger_nav_icon {
    font-size: 1.7em;
    color: #7ED33A;
    cursor: pointer;
    display: none;
}


/* for Small screens, mobiles and tabs  */
/* //media query for responsive navbar is here  */
@media screen and (max-width : 769px) {

    .Navbar {
        padding-inline: 1rem;
    }

    .Navbar_Listing {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        position: fixed;
        top: 4.5rem;
        left: 0;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5em;
        gap: 3.5em;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s;
    }

    .Hum_burger_nav_icon {
        display: block;
    }


    .Nav-Toggle:checked~.Navbar_Listing {
        transform: scaleX(1);
        transform-origin: right;
    }

    .Navbar_Listing::before {
        content: '';
        width: 100%;
        border: 2px solid #7ED33A;
        position: absolute;
        top: 0;
    }

    .Nav_Links {
        position: relative;
    }

}









/* //banner section after navbar css is here  */
.banner_container {
    width: 100%;
    height: 70vh;
    margin-top: 4.5rem;
    /* position:  relative; */
}

.banner_image {
    width: 100%;
    height: 100%;
}

.banner_image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}


/* for Small screens, mobiles and tabs  */
/* //resposnive banner  */
@media screen and (max-width : 769px) {
    .banner_container {
        height: 65vh;
    }
}



/* 
.contentOfBanner{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 3em;
    gap: 1em;
}

.contentOfBanner p:nth-child(1){
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
}

.contentOfBanner p:nth-child(2){
    text-transform: capitalize;
    font-weight: 400;
    color: #202020;
}

.contentOfBanner button{
    width: 10em;
    font-size: 1rem;
    padding: 4px;
    letter-spacing: 1px;
    background-color: black;
    border: none;
    border-radius: .2em;
    color: #ffffff;
    cursor: pointer;
} */