.dropbtn-iguru {
    width: 100vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
}

.dropbtn-iguru>div>img {
    display: none;
}

.content-iguru{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6.5rem;
    left: -1.5rem;
    gap: .8rem;
}

.content-iguru a{
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;
    font-weight: 400;
}